.logo {
    font-size: 1.25rem;
    font-weight: bold;
}

.menuButton {
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: var(--background) 0.2s;
}

.menuButton:hover {
    background-color: var(--background);
}

.slideMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20rem;
    background-color: var(--background);
    border-left: var(--border-color) solid 1px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    /* z-index: -1; */
}

.slideMenuOpen {
    transform: translateX(0);
}

.nav {
    padding-top: 72px;
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navItem {
    display: block;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.2s;
}

.navItem:hover {
    background-color: var(--text-muted);
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: -1;
}